* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background-position: center;
}

a {
    text-decoration: none;
}


.raleway {
    font-family: "Raleway", sans-serif;
}



/* First interface */


.navbar-brand {
    flex-grow: 1;
}

.padset {
    padding: 20px 210px 20px 250px;
}

.padset3 {
    padding: 20px 100px;
}

.nav-link {
    font-size: 12px;
}



.footerface {
    background: #222222;
    padding-top: 50px;
}

.footerbar {
    margin-top: 50px;
}

.bottom-nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 12px;
    color: var(--bs-nav-link-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.cred {
    margin-left: -20px;
}


